<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content">

                <h4>Registro de Horas Extra</h4>

                <form #horasForm = "ngForm" (ngSubmit) = "addHoras(horasForm)">

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="doc" #name="ngModel" [(ngModel)]="horasExtra.doc"  placeholder="Documento">
                            <input type="text" name="nombre" [(ngModel)]="horasExtra.nombre"  placeholder="Documento">
                            <input type="text" name="fechaInicio" [(ngModel)]="horasExtra.fechaInicio"  placeholder="Documento">
                            <input type="text" name="fechaFin" [(ngModel)]="horasExtra.fechaFin"  placeholder="Documento">
                            <input type="text" name="inicioTurno" [(ngModel)]="horasExtra.inicioTurno"  placeholder="Documento">
                            <input type="text" name="finTurno" [(ngModel)]="horasExtra.finTurno"  placeholder="Documento">
                            <input type="text" name="inicioExtras" [(ngModel)]="horasExtra.inicioExtras"  placeholder="Documento">
                            <input type="text" name="finExtras" [(ngModel)]="horasExtra.finExtras"  placeholder="Documento">
                            <input type="text" name="motivo" [(ngModel)]="horasExtra.motivo"  placeholder="Documento">

                        </div>
                        
                    </div>
                    <div class="card-action">
                        <div class="input-field col-s12">
                            <button class="btn right">Guardar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
